/* Layout Styles */

#layout, #menu, #main {
  margin: 0;
  padding: 0;
}

#layout {
  padding-left: 250px;
  position: relative;
}

#menu {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  margin-left: -250px;
  width: 250px;
  height: 100%;
}

#main {
  left: 150px;
}
